<md-toolbar color="primary">

    <div
            fxFill
            fxLayout="row"
            fxLayoutAlign="space-around center">

        <span>Wishtack</span>

        <div>
            <button
                    *ngIf="isSignedIn$ | async"
                    (click)="signOut()"
                    color="accent"
                    md-raised-button>SIGN OUT</button>
        </div>

        <div>
            <button
                    (mousedown)="record()"
                    color="accent"
                    md-raised-button="">TALK</button>
        </div>

    </div>

</md-toolbar>


<router-outlet></router-outlet>
